*{
  padding: 0;
  margin: 0;
  
}
body{
  background-color: #333;
}
.note{
  background-color: rgb(140, 250, 250);
  width: fit-content;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
}
.notes{
  display: flex;
  flex-wrap: wrap;
}
input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 2px solid gray;
}
button{
  background-color: rgb(72, 91, 72);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}